
<!-- FAQ Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>FAQ
        <small> Frequently Asked Questions </small>
      </h2>
      <div class="row">
        <div class="col-md-4 question"><h3>QUESTION</h3></div>
        <div class="col-md-8">
          <p>How can AI drive efficiency for the common good?
          </p></div>
      </div>
      <div class="row">
        <div class="col-md-4 answer"><h3>ANSWER</h3></div>
        <div class="col-md-8">
          <p>Recently Open AI and Microsoft have provided secure LLM for both
          knowledge retrieval and secure coding.  We take an egalitarian approach
          to assistants and workflows. Chat is table stakes and the population
          expects it.</p>

          <p>With Azure, Sharepoint files can be migrated to to blob storage through
          REST API.  There the files can be used by the RAG algorithm to search for
          answers.
          </p></div>
      </div>
      <div class="row">
        <div class="col-md-4 question"><h3>QUESTION</h3></div>
        <div class="col-md-8">
          <p>Do I need to be a programmer to benefit from AI workflows?</p></div>
      </div>
      <div class="row">
        <div class="col-md-4 answer"><h3>ANSWER</h3></div>
        <div class="col-md-8">
          <p>
            No, the content that is managed through an AI powered workflow does
            not only benefit programmers, but any analyst who wants insights in
            data ahead of reviewing.  AI empowered workflows can trigger monitoring.
            Or simply make data more accessible to the public by posting updated
            analytics.</p>

          <p>
            AI can perform internet research on topics.  It can access
            XSS or API and prepare briefings that assists people who fact check,
            edit, and publish.
          </p></div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ End -->
