
<!-- FAQ Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>FAQ
        <small> Favorite Asked Questions </small>
      </h2>
      <div class="row">
        <div class="col-md-4 question"><h3>QUESTION</h3></div>
        <div class="col-md-8">
          <p>I have a PHP site and I wanted to add a feature to it.
            Do I need to rewrite the entire site in Ruby on Rails?
          </p></div>
      </div>
      <div class="row">
        <div class="col-md-4 answer"><h3>ANSWER</h3></div>
        <div class="col-md-8">
          <p>No, bug fixes and simple additions to sites written in PHP, ASP, Perl, or other technologies do not need to undergo a complete rewrite.
            If, however, the next few years will be marked with progressive updates to the site, a rewrite could be prudent.
          </p></div>
      </div>
      <div class="row">
        <div class="col-md-4 question"><h3>QUESTION</h3></div>
        <div class="col-md-8">
          <p>I want to sell something online, what is the best way to publish my products on the internet so I can manage it moving forward?</p></div>
      </div>
      <div class="row">
        <div class="col-md-4 answer"><h3>ANSWER</h3></div>
        <div class="col-md-8">
          <p>A site that has a Content Management System is the best bet for enabling you to manage your own site.
            For merchanting, there are some very solid products out there that mitigates your risk at a low cost,
            performing all the credit card processing externally while allowing your branding to be consistent.</p></div>
      </div>
      <div class="row">
        <div class="col-md-4 question"><h3>QUESTION</h3></div>
        <div class="col-md-8"><p>How much does it cost to build a website?  How long does one take to build?</p></div>
      </div>
      <div class="row">
        <div class="col-md-4 answer"><h3>ANSWER</h3></div>
        <div class="col-md-8"><p>If you would like an estimate we would be happy to provide one for free.
        Our hourly rate is $125.</p></div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ End -->
