
<!-- Samples Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Samples <small>{{ page.content }}</small></h3>
      <div class="col-md-4">
        <a href="http://praybook.xyz"><img src="/img/samples/praybook.jpg"/></a>
      </div>
      <div class="col-md-8"><h4><a href="http://praybook.xyz">Praybook</a></h4><p>{{ page.praybook_content | markdownify }}</p></div>
      <div class="col-md-4">
        <a href="http://reachsalem.org"><img src="/img/samples/reachsalem.jpg"/></a>
      </div>
      <div class="col-md-8"><h4><a href="http://reachsalem.org">Reach Salem</a></h4><p>{{ page.reachsalem_content | markdownify }}</p></div>
      <div class="col-md-4">
        <a href="http://rejuvenation.com"><img src="/img/samples/rejuvenation.jpg"/></a>
      </div>
      <div class="col-md-8"><h4><a href="http://rejuvenation.com">Rejuvenation</a></h4><p>{{ page.rejuvenation_content | markdownify }}</p></div>
    </div>
  </div>
</section>

<!-- Samples End -->
